body {
  margin: 0;
  font-family: Roboto, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}






.AppContent {
  padding: 50px 0px;
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.CardSelectWrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px 0px;
}

.CardSelectWrapBasket {
  display: flex;
  align-items: flex-end;
  margin: 20px 0px;
}

.CardSelectWrapBasket h2 {
  margin: 0px;
  margin-right: 20px;
}

.CardPriceWrapBasket {
  display: flex;
  align-items: flex-end;
  margin: 20px 0px;
  margin-bottom: 100px;
}

.CardPriceWrapBasket h2 {
  margin: 0px;
  margin-right: 20px;
}

.CardQuantityWrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin: 10px 0px;
}

.Preloader {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
}

.error404 {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 50vh;
  font-size: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}






